<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ClientId" value="330d45cc-b7a0-4179-8c43-813560aa5c59" />
    <add key="ClientSecret" value="V3jk8TCFHA6D2bGfmfkdwIaKZKmCUzTxWFAe5YJAXuI=" />
    <add key="VaultUrl" value="https://neudesicconnector.vault.azure.net/" />
  </appSettings>
</configuration>